{% extends 'clinic/layout.html' %}
{% load static %}
    {% block title %} {{ profile.first }} {% endblock %}

    {% block body %}
        <div class="statistics">
            <h1>My Statistics</h1>
            <article>
                <ul id="list-info">
                    {% for key in keys %}
                        <li class="info">{{ key }}: {{ stats.key }}</li>
                    
                    {% empty %}
                        <button id='create'>Create</button>
                        {{ create_form.as_ul }}
                    {% endfor %}
                </ul>
            </article>

        </div>




    {% endblock %}