{% load static %}

<script src="{% static 'clinics/scripts/invite.js' %}"></script>
<link href="{% static 'clinics/styles/invite.css' %}" rel="stylesheet">

<div class="invite-container">

    {% if profile == "doctors" %}
        {% if request.user.user_clinics.all|length > 0 %}

            <button id="invite" type="button" name="button" data-value="add" data-type="add" data-url="{% url 'clinics:doctor_in_clinics' model.name %}">Add to clinic</button>
            <form class="" action="{% url 'doctors:add' model.name %}" id="pop-up">

                {% csrf_token %}
                <div class="hello" id="cities"></div>
                <input type="submit" value="Confirm">

            </form>

        {% endif %}

    {% elif profile == "clinics" %}
        {% if request.user.is_doctor %}
            {% csrf_token %}
            {% if request.user.doctor in clinic.doctors.all %}
              <button id="invite" type="button" name="button" data-type="leave" data-url="{% url 'clinics:leave' model.name %}">Leave</button>

            {% elif user.title not in senders %}

                <button id="invite" type="button" name="button" data-type="ask" data-url="{% url 'clinics:join' model.name %}" data-value="request">Join</button>

            {% else %}

                <button id="invite" type="button" name="button" data-type="ask" id="invite" data-url="{% url 'clinics:join' model.name %}" dataset-value="cancel">Cancel request</button>

            {% endif %}

        {% endif %}

    {% endif %}

</div>
