{% load static %}

{% if request.user.is_authenticated %}
    {% if request.user.is_doctor or request.user.user_clinics.all|length > 0 %}

        <div class="invite-container">

            {% if profile == "doctors" and request.user != doctor.user %}
                {% if request.user.user_clinics.all|length > 0 %}

                    <script src="{% static 'clinics/scripts/invite.js' %}"></script>
                    <link href="{% static 'clinics/styles/css/invite.css' %}" rel="stylesheet">

                    <button id="invite" type="button" name="button" data-value="add" data-type="add" data-url="{% url 'clinics:doctor_in_clinics' model.name %}">
                        <span class="fas-icon plus">Add to clinic</span>
                    </button>
                    <form class="hidden" action="{% url 'doctors:add' model.name %}" id="pop-up">

                        {% csrf_token %}
                        <div class="hello" id="cities"></div>
                        <input type="submit" value="Confirm">

                    </form>

                {% endif %}

            {% elif profile == "clinics" and request.user != clinic.admin %}
                {% if request.user.is_doctor %}

                        <script src="{% static 'clinics/scripts/invite.js' %}"></script>
                        <link href="{% static 'clinics/styles/invite.css' %}" rel="stylesheet">

                    {% csrf_token %}
                    {% with request.user.doctor.serialize as doctor %}
                        {% if request.user.doctor in clinic.doctors.all %}
                            <button id="invite" type="button" name="button" data-type="leave" data-url="{% url 'clinics:leave' model.name %}">
                                <span>Leave</span>
                            </button>

                        {% elif doctor.title not in senders %}

                            <button id="invite" type="button" name="button" data-type="ask" data-url="{% url 'clinics:join' model.name %}" data-value="request">
                                <span>Join</span>

                            </button>

                        {% else %}

                            <button id="invite" type="button" name="button" data-type="ask" id="invite" data-url="{% url 'clinics:join' model.name %}" dataset-value="cancel">Cancel request</button>

                        {% endif %}

                    {% endwith %}
                {% endif %}

            {% endif %}

        </div>
    {% endif %}
{% endif %}
