@use 'abstract/colors';

$sidebar-width: 0;
$sidebar-open: 15vw;


#sidebar
{
    position: fixed;
    top: 10vh;
    flex-direction: column;
    width: $sidebar-width;
    display: inline-table;
    font-size: 1.5rem;
    height: 90vh;
    display: flex;
    transition: all .3s ease;
    font-size: clamp(1.4rem, 2vw, 2.1rem);

}


#sidebar__button
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar__button-content
{
    width: 25px;
    height: 3px;
    background: #a1a1a1;
    border-radius: 100vw;
    position: relative;
    &::before, &::after
    {
        content: '';
        width: 100%;
        height: 3px;
        background: #a1a1a1;
        position: absolute;
        left: 0;
        border-radius: 100vw;
        transition: all .7s ease;



    }
    &::before
    {
        top: -6px;
    }
    &::after
    {
        bottom: -6px;
    }
    transition: all .7s ease;



}

#sidebar__button-content.open
{
    &
    {
        background: transparent;
    }
    &::before
    {
        opacity: 1;
        transform: rotate(-45deg);
        top: 0;
    }
    &::after
    {
        opacity: 1;
        transform: rotate(45deg);
        bottom: 0;
    }
}


#sidebar__menu
{
    background: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sidebar-list
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: auto;
    &::-webkit-scrollbar-track
    {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb
    {
        background: #b1b1b1;

    }
    &::-webkit-scrollbar
    {
        width: .8rem;
    }

}

#main
{
    margin-left: $sidebar-width;
    transition: all .7s ease;
}

#menu
{
    margin-left: 5vw;
    width: 85vw;
}

.navbar-item
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    // border-bottom: $white_border;
}

.nav-content
{
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: colors.$gray;
}

.nav-list
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-li
{
    display: flex;
    height: 6rem;
    &:hover
    {
        background: #f1f1f1;
    }
    a
    {
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 5fr;
        span {
            align-self: center;
        }
        i
        {
            text-align: center;
            align-self: center;
        }
        p
        {
            align-self: center;
        }
        div
        {
            margin:auto;
        }
    }

}


.navbar-icon
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    p
    {
        text-align: center;
    }
}

/* ____ Accordion Menu Items ____ */

.nav-image-cropper
{
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-image
{

  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}







@keyframes open
{
    from {
        height: 0;
    }
    to {
        height: 100%;
    }

}


@keyframes close
{
    from {
        height: 100%;

    }
    to {
        height: 0;
    }
}


@media (max-width: 599px)
{
    #sidebar
    {
        left: -100vw;
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        overflow: hidden;
        font-size: 2.4rem;

    }
    #sidebar__button.open
    {
        z-index: 3;
    }
    #sidebar.open
    {
        left: 0;

    }
    #main
    {
        margin-left: 0;

    }


}


@media (min-width: 600px)
{
    #sidebar.open
    {
        max-width: $sidebar-open;
        width: $sidebar-open;
        p
        {
            display: flex;
        }
        a
        {
            display: grid;
        }
    }
    #sidebar
    {
        max-width: $sidebar-width;
        p
        {
            display: none;
        }
        a
        {
            display: flex;
            justify-content: center;
        }
    }
}
