@use 'abstract/_colors';
@use 'mixins/buttons';
@use 'mixins/div';

/* ___ Dust Pallete ___ */
$main: #4387f5;
$black: #424656;
$gray: #A7AABD;
$complementary: #EC5272;
$green: rgb(20, 205, 20);


@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');



td
{
    text-align: center;
    padding: 0;
    border-spacing: 0;
}


.calendar__wrapper
{
    width: 100%;
    height: 100%;
}

.calendar
{
    height: 100%;
    width: 100% ;

    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.ball
{
    clip-path: circle(20px at center);
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball:hover
{
    background: $gray;
}


.month
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    background: white;
}


.month-title, .year-title
{
    font-size: clamp(1.8rem, 2vw, 2.1rem);
}


.day
{
    text-align: center;
    padding: 0;
    .ball
    {
        background: $gray;
    }
}

.invalid
{
    cursor: auto;
    color: gray;
    .ball
    {
        background: #fff;
    }
}

.active
{
    .ball
    {
        background: #fff;
    }

}

.marked
{
    .ball
    {
        background: $black;
        color: #f1f1f1;
    }
}


.calendar-year, .calendar-month
{
    color: $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    i
    {
        font-size: 2rem;
    }
}


.day-planner
{
    position: fixed;
    margin-top: 10vh;
    width: clamp(70rem, 60vw, 100rem);
    height: 90vh;
    display: flex;
    top: 0;
    right: -100vw;
    transition: all .8s ease;
    border: 2px solid colors.$hover-gray;
}

.day-planner.open
{
    right: 0;
    background: white;
    z-index: 99;
    .day
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5rem;
    }

}


.button__close
{
    position: absolute;
    padding: 2rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    i::before
    {
        font-size: 2.6rem;
    }
}

.button__close:hover
{
    background: colors.$hover-gray;
}

.appointment-table
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}


.hours, .appointments
{
    padding: 0 20px;
    margin-bottom: 5rem;
}

.hours
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.appointments
{
    position: relative;

}
.appointment
{
    position: absolute;
    background: $main;
    margin: auto;
    width: 90%;
    cursor: pointer;
    color: #fff;
    transition: all .1s ease-in;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

.appointment:hover
{
    background: $main;
}


.closed
{
    background: $gray;
    cursor: auto;
}

.closed:hover
{
    background: $gray;
}

.second
{
    color: #5a5a5a;
}

.schedule-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
}

.schedule
{
    @include div.flex($justify-content: flex-start);
    gap: 3rem;
    font-size: 1.2rem;
    position: relative;
    padding: 5rem 0rem 1rem 0rem;
    text-align: left;
    .schedule-info, .schedule-form, .schedule-title, .schedule-form-info
    {
        opacity: 0;
    }
}

.select-field
{
    @include div.flex();
    width: 100%;
}


#patient
{
    padding: .5rem 0 .5rem 2rem;
    width: 75%;
}

.schedule.visible
{
    .schedule-info, .schedule-form, .schedule-title, .schedule-form-info
    {
        opacity: 1;
    }
}

.schedule-title
{
    font-size: 2.2rem;
}
.schedule-day
{
    color: colors.$gray;
}

.schedule-hour
{
    font-weight: bolder;
}

.schedule-header
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;

    img
    {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
}


.schedule-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 1em;
}


.schedule-location-title
{
    color: colors.$gray;
    text-decoration-style: dashed;
    font-size: 1.6rem;
    font-style: italic;
    word-break: break-all;
    i::before
    {
        color: colors.$gray;
    }
}


.p-wrapper
{
    display:  flex;
    width: 80%;
    font-size: 2rem;
    gap: .7rem;

}


.scheduled
{
    padding: 2rem;
    border-radius: .3rem;
    border: 1px solid $green;
    color: $green;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.first-child
{
    font-weight: bolder;
}


.schedule-user-info, .schedule-area-info
{
    font-style: italic;
}

.schedule-cancel
{
    @include buttons.confirm($color: colors.$red);
}

.schedule-submit
{
    @include buttons.confirm();
}


.chosen__appointment
{
    background: blue;
    &:hover
    {
        background: blue;
    }
}
.chosen
{
    background: $green;
    pointer-events: all;
    cursor: pointer;

}
.chosen:hover
{
    background: rgba(20, 200, 20, .8);


}

.schedule-form-info
{

    flex-direction: column;
    justify-content: space-around;
    height: 65%;

}

@media (max-width: 599px)
{
    .calendar-month, .calendar-year
    {
        width: 100%;
    }
}
