
/* ___ Dust Pallete ___ */
$main: #4387f5;
$black: #424656;
$gray: #A7AABD;
$complementary: #EC5272;


@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');



td
{
    text-align: center;
}

#calendar
{
    height: 90%;
    width: 90%;
    background: white;
}


.ball
{
    clip-path: circle(15px at center center);
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
}

.ball:hover
{
    background: $gray;
}



#month
{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;
    background: white;
}


.day
{
    text-align: center;
    .ball
    {
        background: $gray;
    }
}

.invalid
{
    cursor: auto;
    color: gray;
    .ball
    {
        background: #fff;
    }
}

.active
{
    .ball
    {
        background: #fff;
    }

}

.marked
{
    .ball
    {
        background: $black;
        color: #f1f1f1;
    }
}


#calendar-year, #calendar-month
{
    color: $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    text-align: center;
    i
    {
        font-size: 2rem;
    }
}


.day-planner
{
    position: fixed;
    margin-top: 10vh;
    width: 40vw;
    height: 90vh;
    display: flex;
    top: 0;
    right: -100vw;
    transition: all .8s ease;
}

.day-planner.open
{
    padding: 40px;
    right: 0;
    background: white;
    z-index: 99;
}

#appointment-table
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}

#day
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


#hours, #appointments
{
    padding: 0 20px;
    margin-bottom: 5rem;
}

#hours
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#appointments
{
    position: relative;

}
.appointment
{
    position: absolute;
    background: $main;
    margin: auto;
    width: 90%;
    cursor: pointer;
    color: #fff;
    transition: all .1s ease-in;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

.appointment:hover
{
    background: $main;
}


.closed
{
    background: $gray;
    cursor: auto;
}

.closed:hover
{
    background: $gray;
}

.second
{
    color: #5a5a5a;
}

#schedule
{
    font-size: 1.2rem;
    display: grid;
    justify-content: space-between;
    position: relative;
}

.chosen
{
    background: black;

}
.chosen:hover
{
    background: black;

}
