@use "abstract/colors";
@use "mixins/buttons";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


*
{
    margin: 0;
    padding: 0;
}


._cropper, .cropper__content
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    height: 10rem;
    justify-content: space-around;
    margin: 0 auto;

}

.canvas__wrapper
{
    width: 100%;

}


.cropper__button
{
    @include buttons.card($width: clamp(300px, 70vw, 600px));
    display: none;


}

.cropper__button--label
{
    padding: 2rem 0;
    .material-icons
    {
        width: 8rem;
        margin-right: -1rem;
    }
}





._cropper label
{
    display: flex;
}

._cropper div
{
    display: flex;
    justify-content: space-evenly;
}

._cropper input[type="file"]
{
    display: none;
}


._cropper canvas
{
    justify-self: start;
    align-self: center;
    background-image: url(https://www.pikpng.com/pngl/m/2-27167_free-png-download-transparent-hanging-snowflakes-png-hanging.png);
}



._canvas
{
    border: 1px solid black;
    display: none;
}


.show__canvas > ._canvas,
.show__image > ._canvas
{
    display: block;
    z-index: 101;
}

.show__image > .canvas__wrapper
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

._cropper.show__image
{
    height: 25rem;
}

.show__image
{
    display: flex;
    .cropper__button--edit,
    .cropper__button--label
    {
        display: flex;
    }
    .cropper__content
    {
        height: 60rem;
    }
}


.show__canvas
{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .6);


    .cropper__button--save,
    .cropper__button--label
    {
        display: flex;
    }
}

.blur__canvas
{
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}


.no_scroll
{
    overflow: hidden;
}
