@use 'abstract/colors';


$gray: #595f6e;
$small: 1rem;
$medium: 1.4rem;


/* ___ Form ___ */
select
{
    text-transform: capitalize;
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 83%;
    height: 120%;
    position: relative;
    cursor: pointer;
}


.select-field
{
    position: relative;
}

select + .label-field .content-label
{
    position: absolute;
    bottom: 100%;
    left: 5%;
    padding: 0 .5rem;
    pointer-events: none;
}

select + .label-field
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 1.6rem;
}



form
{
    input[type="submit" i]
    {
        background: none;
        outline: none;
        border: 1px solid colors.$main;
        color: colors.$main;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 100vw;
        cursor: pointer;
        &:hover
        {
            background: rgba(200, 200, 255, .3);
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.register
{
    display: flex;
    align-items: center;
    align-content: center;
}


.form
{
    flex-direction: column;
    display: flex;
    margin: auto;
}

.field
{
    width: 100%;
    height: 50px;
    position: relative;
    font-size: 2rem;
    margin: 0 auto;
    color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.field input, .field textarea
{
    width: 80%;
    height: 100%;
    padding: 1rem 2rem;
    color: colors.$black;
    border: 1px solid colors.$gray;
    outline: none;
    font-size: 2rem;
    background: none;
}


.field label
{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    pointer-events: none;
}


.content-label
{
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
    color: colors.$gray;
}



.field input:focus + .label-field .content-label, .field textarea:focus + .label-field .content-label,
.field input:focus + datalist + .label-field .content-label, input:valid + .label-field .content-label
{
    bottom: 100%;
    left: -.5rem;
    font-size: 1.6rem;
    color: black;
    z-index: 2;
    background: white;
    padding: 0 5px;
    transform: translateY(-.25rem);
}

.valid__input
{
    .label-field
    {
        .content-label
        {

            left: -.5rem;
            bottom: 100%;
            font-size: 1.6rem;
            color: black;
            z-index: 2;
            background: white;
            padding: 0 5px;
            transform: translateY(-.3rem);
        }
    }
}

.form-wrapper, .choices
{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.form-wrapper
{

}

.equalizer
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.less
{
    width: 44.5%;
    margin: 0;
}

.more
{
    width: 150%;
}
.hidden
{
    display: none;
    opacity: 0;
}

.choices
{
    flex-direction: column;
    .form-list
    {
        margin: auto;
        width: 80%;
        display: flex;

        padding: 2rem;
        padding-top: 4rem;
        .form-ul
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;

            li
            {

                background: colors.$hover-gray;
                border-radius: 100vw;
                padding: 1.8rem;
                display: flex;
                gap: .5rem;
                align-items: center;
                span
                {
                    color: colors.$gray;
                    font-size: 2rem;
                    font-weight: 900;
                }
                button
                {
                    background: rgba(colors.$red, .4);
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    &::before
                    {
                        color: colors.$hover-gray;

                    }
                }
            }

        }
    }
}

.hidden
{
    display: none;
}
