@use 'abstract/colors';


.form__container
{
    position: absolute;
    width: 100%;
    height: 90%;
    margin: auto;
    transition: left .7s ease;

}


.form__form
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    select
    {
        max-height: 5rem;

    }
}


.register__form
{
    width: 100%;
    height: 80%;
    position: relative;
    overflow-x: hidden;
}
.button__container
{
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0 1px 3px rgba(black, .3);
    justify-content: space-around;
    margin: auto;
    gap: 2rem;
}


.register__button
{
    box-shadow: 0 1px 3px rgba(black, .4);
    padding: 1.5rem;
    cursor: pointer;
    font-weight: 900;
    text-transform: none;
    width: 40rem;
    font-size: clamp(1.8rem, 3vw, 2.8rem);
    color: colors.$dark-gray;
}

#main__div
{
    position: relative;
    height: 88vh;
    width: 100vw;
}
