/* Main Colors */
/* Base colors */
/* Success, atention and caution */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: #f9f9f9;
  background-color: #f9f9f9;
}

body {
  font-family: sans-serif;
  background: #fdfdfd;
}

main {
  margin: auto;
  margin-top: 12vh;
  background: #fafafa;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  border: none;
  text-transform: uppercase;
}

i {
  position: relative;
}

img {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background: #777;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #4387f5;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

*::selection {
  background: #EC5272;
  color: white;
}

/* Classes */
/* _____ Navbar _____ */
.navbar {
  display: flex;
  position: fixed;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.navbar-list {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

/* _____ Menu _____ */
#menu {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 12vh;
  top: 0;
  background: #f9f9f9;
  border-bottom: 2px solid #f0f0f0;
}

#logo {
  grid-area: logo;
}

#search {
  grid-area: search;
}

#navbar__search {
  position: relative;
}

#search-input {
  border-radius: 100vw;
  border: 1px solid #777;
  padding: 1.6rem 4rem;
  font-size: 2rem;
  position: relative;
  width: 150%;
  transition: all 0.2s linear;
}

#search-input:focus {
  outline: none;
  border: 1px solid #4387f5;
  margin-left: 0;
  padding: 1.6rem;
  width: 200%;
}

#search-input:focus + #search__label #search__content::before {
  opacity: 0;
  transform: translateX(-30%);
  transition: opacity 0.3s linear, transform 0.5s linear;
}

#search__label {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
#search__label #search__content {
  left: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
}

#search__content::before {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 1.6rem;
  height: 100%;
  color: #777;
}

#search__icon {
  position: absolute;
  top: 50%;
  left: 0;
}

.double {
  grid-area: double;
}

#sign-in {
  border: 1px solid #777;
  color: #777;
}

#sign-up {
  border: 1px solid #4387f5;
}

.ping {
  bottom: -10%;
  left: 5%;
  animation: ping 5s forwards;
  animation-play-state: running;
  padding: 2rem;
  background: #0a100d;
  border-radius: 0.7rem;
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
  width: 30rem;
  position: fixed;
}

/* Animations */
@media (max-width: 599px) {
  #logo {
    display: none;
  }
}
@keyframes ping {
  0% {
    bottom: -10%;
  }
  10% {
    bottom: 5%;
  }
  90% {
    bottom: 5%;
  }
  100% {
    bottom: -10%;
  }
}

/*# sourceMappingURL=main.css.map */
