
/* ___ Dust Pallete ___ */
$main: #4387f5;
$black: #1e1e1e;
$gray: #A7AABD;
$complementary: black;
$yellow: #F5BA42;


*
{
    color: $black;
}


main
{
    display: flex;
    align-items: center;
}


hr
{
    width: 90%;
    color: #1e1e1e;
    margin: auto;
}


.profile-container
{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}


.profile-header
{
    width: 60%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2em;

}


.profile-image
{

    background: #f1f1f1;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    border-radius: 2rem;


    img
    {
        transform: translateY(10%);
        border-radius: 50%;
        height: auto;
        width: clamp(15rem, 20%, 32rem);
        margin: auto;
        border: 4px solid #f9f9f9;
        z-index: 5;
        background: white;

    }


}

.profile-nav-info
{

    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1em;

    justify-content: center;
    text-align: center;
    align-items: center;



    h3
    {

        font-family: sans-serif;
        font-weight: bold;
        font-size: clamp(2.8rem, 3vw, 3.5rem);
    }

}



.header-nav
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.profile-nav
{
    position: relative;
    width: 40%;

    .profile-dash
    {
        display: flex;
        justify-content: space-around;
        height: 5rem;
        background: white;
    }

}


.profile-actions
{
    display: flex;
    width: 60%; 
    flex-direction: row;
    transform: translateY(-5%);
    justify-content: space-evenly;
    .invite-container
    {
        height: 100%;
        button
        {
            height: 100%;
        }
    }
    button
    {
        cursor: pointer;
        border: 1px solid $main;
        padding: clamp(.6rem, 1.2vw, 1.2rem) clamp(.8rem, 2vw, 2rem);
        border-radius: 3rem;
        text-align: center;
        transition: all .2s ease;
        span
        {
            text-transform: capitalize;
            font-size: clamp(1.2rem, 1.4vw, 1.6rem);
            font-weight: bolder;
            color: $main;

        }
    }
    button:hover
    {
        background: rgba(200, 200, 255, .4);

    }
}


.profile-nav-item
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em .2em;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    width: 40%;
    font-weight: bold;
    font-size: clamp(1.6rem, 2vw, 2rem);
    align-self: center;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
    .text, i
    {
        background: none;
        color: #777;
    }
}
.profile-nav-item:hover
{
    background: #f1f1f1;
}

.profile-nav-item.active
{
    .text, i
    {
        color: $main;
    }
}
.bar
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33%;
    height: .5rem;
    border-radius: 100vw;
    transition: all 1s ease;
    &::before
    {
        background: $main;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

    }
}



.profile-option
{

    margin:auto;
    width: 3rem;
    height: 3rem;
    background: $complementary;
    border-radius: 50%;
    margin-top: 8vh;
    transform: translateY(40%);
    position: relative;
    &::before
    {
        content: '\f013';

    }

}






.main-body
{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    background: #f0f0f0;
}

.right-side
{
    border-radius: 20px;
    padding: 2em;
    width: 20%;
    position: static;
    background: white;
    display: flex;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
    justify-content: center;
    font-size: clamp(1.8rem, .7vw, 2rem);


    .profile-side
    {
        h1
        {
            font-size: clamp(3rem, 3vw, 3.4rem);
        }
        color: #a0a0a0;
        width: 90%;
        background: #fff;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        .info
        {
            height: 7rem;
            display: flex;
            align-items: center;
        }
        p
        {
            margin-bottom: 2px;
        }
		.mail
		{
		    word-break: break-all;
		}


    }
}




.profile-body
{
    margin: 2rem;
}




.fas-icon
{
    &::before
    {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        text-align: center;
        margin-right: 0.4em;

    }



}

.mail::before
        {
            content: '\f0e0';
        }
        .address::before
        {
            content: '\f3c5';
        }
        .phone::before
        {
            content: '\f095';
        }
        .rating::before
        {
            content: '\f005';
        }
        .university::before
        {
            content: '\f19c';
        }
        .clinic::before
        {
            content: '\f7f2';
        }

        .plus::before
        {
            content: '\f067';
        }
        .user-rating
        {
            h3
            {
                font-size: 3rem;
                color: $yellow;
            }
        }
.hidden
{
    display: none;
}

@media (min-width: 700px)
{
    .profile-nav-item
    {
        i
        {
            display: none;
        }
    }
}

@media (max-width: 699px)
{
    .profile-header
    {
        width: 95%;

    }
    .profile-nav-item
    {
        .fas-icon
        {
            display: block;
        }
        .text
        {
            display: none;
        }
    }


}
