$yellow: #F5BA42; 
$main: #4387f5; 
$black: #0a100d; 
$white: #e9eeff; 
$danger: #D52941;
$gray: #716969; 





/* Dimensions */
$br: .5em; 


.container 
{
    width: 100%; 
    display: grid; 
    position: relative;
    grid-template-columns: repeat(4, 1fr); 
}


.card 
{
    position: relative; 
    width: 20rem;
    height: 35rem;
    margin: 2rem auto;
}

.btn 
{
    cursor: pointer; 
    border: 1px solid $main; 
    background: none; 
    border-radius: 100vw; 
    color: $main; 
    padding: 1rem;
    margin: 0 auto;
}

.front 
{
    transition: 250ms;
    
    .main-image 
    {
        width: 100%; 
        height: 100%;
        border-radius: $br;

    }


    .name 
    {
        text-align: center; 
        margin: .75em; 

    }
    .stats
    {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 

        flex-direction: row; 
    }
    .submodels
    {
        img
        {
            border: 2px solid white;

            &:nth-of-type(1)
            {
                transform: translateX(50%); 
                z-index: 1; 
            }
            &:nth-of-type(2)
            {
                transform: translateX(25%); 
            }
            
        }
        

    }
    
    
}

.back 
{
    opacity: 0; 
    transform: translateY(35%);
    position: absolute; 
    top: 45%;
    left: 0; 
    right: 0; 
    height: 15rem;
    width: 20rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 2.5em;
    transition: transform 250ms, opacity 150ms;

    .info
    {
        margin: 1em 0; 
        text-align: center; 
        .stat 
        {
            display: flex; 
            align-items: center; 
            color: $yellow;
            font-size: 1.5rem;

        }
        .stat::before 
        {
            content: "\f005";
            display: inline-block; 
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            font-style: normal; 
            font-variant: normal; 
            margin-right: .5em;
            text-rendering: auto; 
            -webkit-font-smoothing: antialiased; 
        }
    }
    .submodel 
    {
        color: #666666;
        display: flex; 
        align-items: center;
        flex-direction: column;


        .image-icon::before, .image-icon::after
        {
            position: absolute;
            content: ''; 
            height: 100%; 
            width: 100%; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            color: $white;
            border-radius: 50%; 
            opacity: 0; 

        }
        .image-icon::before
        {
            content: "\f061"; 
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;
            display: grid; 
            place-items: center; 
            font-size: 1em;
            z-index: 10; 
            transition: background-color 100ms linear, opacity 200ms linear;
            background: $main;
        }
        .image-icon::after 
        {
            z-index: 1; 
            animation: pulse 700ms infinite;
        }

        .image-icon
        {
            display: inline-flex;
            transition: transform ease-in-out 150ms;
            width: 3.5rem; 
            height: 3.5rem; 
            position: relative; 
            img
            {
                width: 100%; 
                height: 100%; 
            }
        }

    }
    .submodels 
    {
        width: 20rem; 
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        place-items: initial;
    
    }


}

.submodels 
{
    display: flex; 
    flex-direction: row; 
    text-align: center; 
    img 
    {
        width: 2em; 
        height: 2em; 
        border-radius: 50%;


    }
}



.background
{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: -1; 
    transform: scale(.2, .9);
    opacity: 0; 
    border-radius: $br;
    transition: transform 250ms ease-in-out, opacity 100ms linear;
    bottom: 25px;
    background: $white;
    backdrop-filter: blur(1.5);


}


.card:hover
{
    .front 
    {
        transform: translateY(-30%) scale(.7);
        .stats 
        {
            opacity: 0; 
        }
        .name 
        {
            animation: name_animation 250ms forwards;
        }

    }
    .background 
    {
        transform: scale(1.4, 1.2); 
        opacity: 1;

    }

    .back 
    {
        transform: translateY(0);
        opacity: 1; 
    }
}
.submodel:hover 
{
    .image-icon 
    {
        transform: translateY(-20%); 
    }
}

.submodel .image-icon:hover 
{
    transform: translateY(-20%) scale(1.3); 
    &::before 
    {
        background: $main;
    }
    &::after
    {
        background: $main;
    }
    &::before, &::after 
    {
        opacity: 1;
    }
}


.fas.fa-star 
{
    color: $yellow;
}

@keyframes name_animation
{
    0%
    {
        font-size: 1rem;
        opacity: 1; 
    }

    20%
    {
        font-size: 1rem;
        opacity: 0; 
    }

    50%
    {
        font-size: 2rem;
        opacity: 0; 

    }

    100%
    {
        font-size: 2rem; 
        opacity: 1; 
    }
}

@keyframes pulse 
{
    0% 
    {
        transform: scale(1); 
        opacity: 75%; 
    }
    100%
    {
        transform: scale(1.35);
        opacity: 0; 
    }
}
