/* Dimensions */
.container {
  margin-top: 20rem;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.card {
  position: relative;
  width: 25rem;
  height: 45rem;
  margin: 2rem auto; }

.btn {
  cursor: pointer;
  border: 1px solid #4387f5;
  background: none;
  border-radius: 100vw;
  color: #4387f5;
  padding: 1rem;
  margin: 0 auto; }

.front {
  transition: 250ms; }
  .front .main-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5em; }
  .front .name {
    text-align: center;
    margin: 0.75rem 0;
    height: 3rem; }
  .front .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .front .submodels img {
    border: 2px solid white; }
    .front .submodels img:nth-of-type(1) {
      transform: translateX(50%);
      z-index: 1; }
    .front .submodels img:nth-of-type(2) {
      transform: translateX(25%); }

.back {
  opacity: 0;
  transform: translateY(35%);
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 250ms, opacity 150ms; }
  .back .info {
    margin: 1em 0;
    text-align: center; }
    .back .info .stat {
      display: flex;
      align-items: center;
      color: #F5BA42;
      font-size: 1.5rem; }
    .back .info .stat::before {
      content: "\f005";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      margin-right: .5em;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased; }
  .back .submodel {
    color: #666666;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .back .submodel .image-icon::before, .back .submodel .image-icon::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: #e9eeff;
      border-radius: 50%;
      opacity: 0; }
    .back .submodel .image-icon::before {
      content: "\f061";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: grid;
      place-items: center;
      font-size: 1em;
      z-index: 10;
      transition: background-color 100ms linear, opacity 200ms linear;
      background: #4387f5; }
    .back .submodel .image-icon::after {
      z-index: 1;
      animation: pulse 700ms infinite; }
    .back .submodel .image-icon {
      display: inline-flex;
      transition: transform ease-in-out 150ms;
      width: 3.5rem;
      height: 3.5rem;
      position: relative; }
      .back .submodel .image-icon img {
        width: 100%;
        height: 100%; }
  .back .submodels {
    width: 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: initial; }

.submodels {
  display: flex;
  flex-direction: row;
  text-align: center; }
  .submodels img {
    width: 2em;
    height: 2em;
    border-radius: 50%; }

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: 0.5em;
  transition: transform 250ms ease-in-out, opacity 100ms linear;
  bottom: 25px;
  background: #e9eeff;
  backdrop-filter: blur(1.5); }

.card:hover .front {
  transform: translateY(-30%) scale(0.7); }
  .card:hover .front .stats {
    opacity: 0; }
  .card:hover .front .name {
    animation: name_animation 250ms forwards; }
.card:hover .background {
  transform: scale(1.4, 1.2);
  opacity: 1; }
.card:hover .back {
  transform: translateY(0);
  opacity: 1; }
.card:hover .submodels {
  width: 30rem; }

.submodel:hover .image-icon {
  transform: translateY(-20%); }

.submodel .image-icon:hover {
  transform: translateY(-20%) scale(1.3); }
  .submodel .image-icon:hover::before {
    background: #4387f5; }
  .submodel .image-icon:hover::after {
    background: #4387f5; }
  .submodel .image-icon:hover::before, .submodel .image-icon:hover::after {
    opacity: 1; }

.fas.fa-star {
  color: #F5BA42; }

@keyframes name_animation {
  0% {
    font-size: 1rem;
    opacity: 1; }
  20% {
    font-size: 1rem;
    opacity: 0; }
  50% {
    font-size: 3rem;
    opacity: 0; }
  100% {
    font-size: 3rem;
    opacity: 1; } }
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 75%; }
  100% {
    transform: scale(1.35);
    opacity: 0; } }

/*# sourceMappingURL=card.css.map */
