.carousel
{
    position: relative;
    margin: 0 auto;
    height:  70rem;
    overflow: hidden;
    margin-bottom: 20rem;
}

.carousel__track-container
{
    height: 100%;
    position: relative;
}

.carousel__track
{

}

.carousel__slide
{
    position: absolute;
    top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    .card
    {
        background: white;
    }
    transition: left 1s ease;




}

.carousel__side
{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    z-index: 1;

}

.carousel__side--right
{
    right: 0;
}

.carousel__side--left
{
    left: 0;
}


.carousel__button
{
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    i::before
    {
        font-size: 3rem;
        text-align: center;
        width: 100%;
        margin: auto;
    }
}


.carousel__nav
{
    display: flex;
    justify-content: center;
    gap: 1em;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -100%);
}


.carousel__indicator
{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}


.current-slide
{
    background: black;
}


@keyframes stop
{
    0%
    {
        pointer-events: none;
    }
    100%
    {
        pointer-events: auto;
    }
}
