

/* Fonts */
$medium: 1.4rem;

/* Colors */
$main: #370CF2;
$complementary: #F24324;
$gray: #595f6e;
$white: #f9f9f9;


/* Shadows */

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


/* Dimensions */
$small-padding: 1.2rem;
$small: 1rem;


.clinic-card 
{
    display: flex;
}

.clinic-card
{
    position: relative;
    margin: $small auto;
    justify-content: space-between;
    padding: $small-padding;
    background: $white;
    width: 80%;
    height: 120px;
}

.clinic-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.not-logged
{
    height: 300vh;
    
}
