

/* Colors */
$main: #370CF2;
$comp: red;
$gray: #777;


/* Font */
$smallest: 0.6rem;
$small: 1rem;
$medium: 1.6rem;
$large: 2rem;

/* Shadow and effects */
$white_border: 1px solid #eee;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


/* Width and Height */ 
$small-width: 7rem;


/* Global Vars */ 
$nav-height: 10vh;

/* HTML tags */
*
{
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: sans-serif;
}

a 
{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li 
{
    list-style: none;
}

ul
{
    list-style-type: none;
}

button 
{
    background: none; 
    outline: none;
    border: none;
    text-transform: uppercase;
}

*::-webkit-scrollbar-track 
{
    background: #fff;
}

*::-webkit-scrollbar-thumb 
{
    background: $main;
}

*::-webkit-scrollbar 
{
    width: 0.40rem;
}

/* Classes */

/* _____ Navbar _____ */

.navbar 
{
    font-size: $large;
    top: 0;
    position: fixed;
    background: #fff;
    height: $nav-height;
    width: 90vw;
    color: $main;
    border-bottom: $white_border;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "logo search double";
    z-index: 9;
}

.navbar-nav 
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}


/* _____ Menu _____ */

#menu 
{
    z-index: 10;
    margin-left: 10vw;
}

#logo
{
    grid-area: logo;
}

#search 
{
    grid-area: search;
}

#search-input 
{
    border-radius: 30px; 
    padding: 15px;
    border: 1px solid black;
}

#search-input:focus
{
    outline: none; 
}

.double
{
    grid-area: double;

}

#sign-in, #sign-up 
{
    font-size: $medium;
    border-radius: $small;
    padding: $smallest;
    width: $small-width;
}

#sign-in 
{
    border: 1px solid $gray;
    color: $gray;
}

#sign-up 
{
    border: 1px solid $main;
}


/* ____ Sidebar ____ */ 
#sidebar 
{
    height: 100vh;
    width: 10vw;
    display: flex;
}

#sidebar-list 
{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}


#main 
{
    margin-top: 10vh;
    margin-left: 10vw;
}
/* _____ Notifications _____ */

.icon 
{
    cursor: pointer;
}

.drop-number 
{
    background: red;
    font-family: monospace;
    font-size: $large;
    padding: 1rem;
    font-weight: bolder;
    border-radius: 50%;
    vertical-align: top;
    margin-left: -7px;
}

.dropdown
{
    position: absolute;
    width: 300px;
    top: 10vh;
    transform: translateX(-90%);
    box-shadow: $shadow; 
    border-radius: 30px;
    height: 0px;
    display: none;
}

.dropdown.open 
{
    height: 300px;
    display: block;
    z-index: 10;
    background: white;
}

.circle 
{
   z-index: 11;
   width: 7px;
   height: 7px;
   align-self: center;
   margin: auto;
   border-radius: 50%;
   background: $main;

}


.drop-t 
{
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: $white_border;
    color: #999;
    strong 
    {
        color: $main;
    }
}

.drop-item 
{
    border-bottom: $white_border;
    padding: 15px 5px;
    position: relative;
    text-align: justify;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 7fr;
    align-content: center;
    
}
.drop-title
{
    color: $gray;
    font-size: $medium;
}

.drop-timestamp
{
    color: $gray;
    font-size: $small;
}

.drop-text 
{
    color: $gray;
    font-size: $medium;
    width: 100%;

}

.drop-link 
{
    display: flex;
    i 
    {
        padding: 0 $small;
        color: $gray;
    }
    
}

.notifi-reply-btn 
{
    width: 80px;
    border: 1px solid $main;
    color: $main;
    padding: 2px 0;
    border-radius: 5px;
    cursor: pointer;
}

.reply-btn-container
{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.deny 
{
    color: $comp;
    border: 1px solid $comp;
    
}





.text 
{
    background: white;
}


.hide 
{
    transition: all 1s ease;
    opacity: 0;
    left: 3000px;
}

/* Animations */

@keyframes hide 
{
    0%
    {
        opacity: 1;
        left: 0;
    }

    100% 
    {
        opacity: 0;
        left: 100%;
    }

}