

/* ___ Dust Pallete ___ */
$main: #4387f5; 
$black: #424656; 
$gray: #A7AABD; 
$complementary: #EC5272;



/* Font */
$smallest: 0.6rem;
$small: 1rem;
$medium: 1.6rem;
$large: 2rem;

/* Shadow and effects */
$white_border: 1px solid #eee;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


/* Width and Height */ 
$small-width: 7rem;


/* Global Vars */ 
$nav-height: 10vh;

/* HTML tags */
*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: sans-serif;
}

main 
{
    margin-top: 10vh; 

}

a 
{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li 
{
    list-style: none;
}

ul
{
    list-style-type: none;
}

button 
{
    background: none; 
    outline: none;
    border: none;
    text-transform: uppercase;
}

i
{
    position: relative; 
}

img 
{
    width: 16px; 
    height: 16px;
}

*::-webkit-scrollbar-track 
{
    background: #fff;
}

*::-webkit-scrollbar-thumb 
{
    background: $main;
}

*::-webkit-scrollbar 
{
    width: 0.40rem;
}


*::selection 
{
    background: $complementary; 
    color: white; 
}
/* Classes */

/* _____ Navbar _____ */

.navbar 
{
    display: flex; 
    position: fixed;
    font-size: $large;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}


.navbar-nav 
{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.navbar-list
{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: space-around; 
}


/* _____ Menu _____ */


#menu 
{
    z-index: 10;
    display: flex; 
    width: 100vw; 
    height: 10vh; 
    top: 0; 
}

#logo
{
    grid-area: logo;
}

#search 
{
    grid-area: search;
}

#search-input 
{
    border-radius: 30px; 
    padding: 15px;
    border: 1px solid black;
}

#search-input:focus
{
    outline: none; 
}

.double
{
    grid-area: double;
}

#sign-in, #sign-up 
{
    font-size: $medium;
    border-radius: $small;
    padding: $smallest;
    width: $small-width;
}

#sign-in 
{
    border: 1px solid $gray;
    color: $gray;
}

#sign-up 
{
    border: 1px solid $main;
}


/* Animations */
