{% load static %}

<div class="schedule__container">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="timeline" data-api="{% url 'doctors:schedule_api' doctor.user.name %}"></div>
    <script src="{% static 'doctors/scripts/schedule.js' %}" type="module"></script>

    <div class="schedule__shifts">
        {% for shift in shifts %}
            <div id="{{forloop.counter0}}">

            </div>
            {% include 'doctors/snippets/shift.html' with form=shift %}
        {% endfor %}
    </div>
</div>
