
/* Colors */
$main: #370CF2;


/* Shadows */

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


/* Dimensions */
$small-padding: 1.4rem;
$small: 1rem;


.clinic-card, .clinic-container 
{
    display: flex;
}

.clinic-card
{
    position: relative;
    margin: $small auto;
    justify-content: space-between;
    box-shadow: $shadow;
    padding: $small-padding;
    width: 80%;

}

.clinic-container
{
    flex-direction: column;
}
