

/* Colors */
$main: #370CF2;
$gray: #777;


/* Font */
$smallest: 0.6rem;
$small: 1rem;
$medium: 1.6rem;
$large: 2rem;

/* Shadow and effects */
$white_border: 1px solid #eee;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


/* Width and Height */ 
$small-width: 7rem;

/* HTML tags */
*
{
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: sans-serif;
}

a 
{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li 
{
    list-style: none;
}

ul
{
    list-style-type: none;
    
}

body::-webkit-scrollbar-track 
{
    background: #fff;
}

body::-webkit-scrollbar-thumb 
{
    background: $main;
}

body::-webkit-scrollbar 
{
    width: 0.35rem;
}

/* Classes */

/* _____ Navbar _____ */

.navbar 
{
    font-size: $large;
    position: relative;
    background: #fff;
    height: 10vh;
    color: $main;
    border-bottom: $white_border;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "logo search double";
}

.navbar-nav 
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#logo
{
    grid-area: logo;
}

#search 
{
    grid-area: search;
}

.double
{
    grid-area: double;

}

#sign-in, #sign-up 
{
    font-size: $medium;
    border-radius: $small;
    padding: $smallest;
    width: $small-width;
}

#sign-in 
{
    border: 1px solid $gray;
    color: $gray;
}

#sign-up 
{
    border: 1px solid $main;
}
    

/* _____ Notifications _____ */

.icon 
{
    cursor: pointer;
}

.drop-number 
{
    background: red;
    font-family: monospace;
    font-size: $large;
    padding: 1rem;
    font-weight: bolder;
    border-radius: 50%;
    vertical-align: top;
    margin-left: -7px;
}

.dropdown
{
    position: absolute;
    width: 300px;
    top: 10vh;
    transform: translateX(-90%);
    box-shadow: $shadow; 
    border-radius: 30px;
    height: 0px;
    display: none;
}

.dropdown.open 
{
    height: 300px;
    display: block;
    z-index: 9999;
    background: white;
}

.drop-t 
{
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: $white_border;
    color: #999;
    strong 
    {
        color: $main;
    }
}

.drop-item 
{
    display: flex;
    border-bottom: $white_border;
    padding: 15px 5px;
    text-align: justify;
    justify-content: space-between;
}
.drop-title
{
    color: $gray;
    font-size: $medium;
}

.drop-timestamp
{
    color: $gray;
    font-size: $small;
}

.drop-text 
{
    color: $gray;
    font-size: $medium;
}

.drop-link 
{
    display: flex;
    i 
    {
        padding: 0 $small;
        color: $gray;
    }
    
}

.text 
{
    background: white;
}

/* Animations */
