{% load static %}
<script src="{% static 'users/scripts/calendar.js' %}" type="module"></script>
<script src="{% static 'users/scripts/forms.js' %}" type="module"></script>
<link href="{% static 'users/styles/css/calendar.css' %}" rel="stylesheet">
<link href="{% static 'users/styles/css/forms.css' %}" rel="stylesheet">

<div class="calendar">
    <div class="calendar-month">
        <button class="prev-month">
            <i class="fas fa-caret-left"></i>
        </button>
        <h1 class="month-title"></h1>
        <button class="next-month">
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
    <div class="calendar-year">
        <button class="prev-year">
            <i class="fas fa-caret-left"></i>
        </button>
        <h1 class="year-title"></h1>
        <button class="next-year">
            <i class="fas fa-caret-right"></i>
        </button>
    </div>

    <table class="month">
        <thead>
            <tr>
                <td>S</td>
                <td>M</td>
                <td>T</td>
                <td>W</td>
                <td>T</td>
                <td>F</td>
                <td>S</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="day-planner">
        <button type="button" name="button" class="button__close">
            <i class="fas fa-times"></i>
        </button>

        <div class="day">
            <div class="schedule">
                <div class="schedule-title">
                    <h2 class="schedule-hour"></h2>
                    <h3 class="schedule-day"></h3>


                </div>
                <div class="schedule-info">
                    <div class="schedule-header">
                        <img src="" alt="" class="schedule-clinic_image">
                        <h2 class="schedule-clinic"></h2>

                    </div>
                    <span class="schedule-location-title fas-text address"></span>

                </div>
                <div class="schedule-info">
                    <div class="schedule-header">
                        <img src="" alt="" class="schedule-doctor_image">
                        <h2 class="schedule-doctor"></h2>
                    </div>

                </div>
                <form class="schedule-form" action="{% url 'doctors:new-appointment' doctor.user.name %}" method="POST">
                    {% csrf_token %}
                    <div class="form-wrapper">
                        <div class="select-field">
                            <select class="schedule-areas" id="select_field"></select>
                            <label for="" class="label-field">
                                <span class="content-label">Area</span>
                            </label>

                        </div>

                    </div>
                    <div class="form-wrapper">
                        <div class="field register">
                            <input class="schedule-user" type="text" id="patient" value="{{ request.user.first_name }} {{ request.user.last_name}}" name="patient" maxlength="128" required="required">
                            <label for="patient" class="label-field">
                                <span class="content-label">Patient Name</span>
                            </label>
                        </div>

                    </div>
                    <span title="Schedule appointments in the same weekday and hour">
                        <h2>Schedule multiple appointments</h2>
                    </span>
                    <div class="form-wrapper">
                        <div class="select-field">
                            <select class="schedule-frequency" name="frequency" id="frequency">
                                <option value="0">---</option>
                                <option value="7">Once a week</option>
                                <option value="14">Once each 15 days</option>
                                <option value="35">Once a month</option>
                                <option value="91">Once each 3 months</option>
                                <option value="182">Once each 6 months</option>
                                <option value="364">Once a year</option>

                            </select>
                            <label for="frequency" class="label-field">
                                <span class="content-label">Frequency</span>
                            </label>

                        </div>
                    </div>
                    <div class="form-wrapper">
                        <div class="select-field">

                            <select class="schedule-next" name="next" id="next">
                                <option value="0">---</option>
                                <option value="1">Month</option>
                                <option value="3">3 months</option>
                                <option value="6">6 months</option>
                                <option value="12">Year</option>
                                <option value="24">2 years</option>
                                <option value="60">5 years</option>
                            </select>
                            <label for="next" class="label-field">
                                <span class="content-label">For the next...</span>
                            </label>
                        </div>
                    </div>


                    <input type="submit" class="schedule-submit" value="Schedule">
                </form>
                <div class="schedule-form-info">
                    <div class="p-wrapper">
                        <p class="first-child">Area: </p>
                        <p class="schedule-area-info"></p>
                    </div>
                    <div class="p-wrapper">
                        <p class="first-child">Patient: </p>
                        <p class="schedule-user-info"></p>

                    </div>
                    <button type="button" name="button" class="schedule-cancel">Cancel</button>

                </div>


            </div>
            <div class="appointment-table">
                <div class="appointments"></div>
                <div class="hours"></div>

            </div>

        </div>

    </div>
</div>
