{% extends 'base/layout.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'users/scripts/clinic.js' %}" type="module"></script>
    <script src="{% static 'users/scripts/cropper.js' %}"></script>
    <link href="{% static 'users/styles/css/forms.css' %}" rel="stylesheet">



{% endblock %}


{% block body %}
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% include 'users/clinic-form.html' %}
        <input type="submit">

    </form>

{% endblock %}
