

<div class="form__container">
    <div class="form__form">

        {% for field in form %}
            <div class="form-wrapper">
                <div class="field register">
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="label-field">
                        <span class="content-label">{{ field.label }}</span>
                    </label>
                </div>
            </div>

        {% endfor %}
        <div class="_cropper" data-name="clinic-picture"> </div>

        <button type="button" name="button" class="button__next">Next</button>

    </div>
</div>
