
{% load static %}

<script type="module" src="{% static 'users/scripts/dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/styles/css/dashboard.css' %}">



<div class="appointments__container" data-url="{% if type == "doctor" %}{% url 'doctors:dashboard_api' doctor.user.name %}{% endif %}">

    <template id="appointment">

        <div class="appointment">

            <div class="appointments__header">
                <div class="appointments__cards">

                    <div class="appointments__header-card">
                        <div class="appointments__card-title">
                            <h1 class="fas-text"></h1>
                        </div>
                        <div class="appointments__card-type">
                            <h3>Total</h3>
                        </div>
                    </div>

                    <div class="appointments__header-card">
                        <div class="appointments__card-title">
                            <h1 class="fas-text"></h1>
                        </div>
                        <div class="appointments__card-type">
                            <h3>Confirmed</h3>
                        </div>
                    </div>

                    <div class="appointments__header-card">
                        <div class="appointments__card-title">
                            <h1 class="fas-text"></h1>
                        </div>
                        <div class="appointments__card-type">
                            <h3>Done</h3>
                        </div>
                    </div>

                    <div class="appointments__header-card">
                        <div class="appointments__card-title">
                            <h1 class="fas-text"></h1>
                        </div>
                        <div class="appointments__card-type">
                            <h3>Cancelled</h3>
                        </div>
                    </div>


                </div>
            </div>

            <div class="appointments__body">
                <div class="appointments__delay">
                    <div class="appointments__delay-header">
                        <h1 class="appointments__delay-title appointments__delay-"></h1>
                        <h3 class="appointments__delay-delay">Delay</h3>
                    </div>


                </div>
                <div class="appointments__number">

                </div>
                <div class="">

                </div>
                <div class="appointments__now">
                    <div class="appointments__now-header">
                            <h1 class="appointments__now-title">Right Now</h1>
                            <div class="appointments__now-subtitle">

                                <h1 class="appointments__now-body-title"></h1>
                                <h3 class="appointments__now-time"></h3>
                            </div>
                    </div>
                    <div class="appointments__now-body">
                    </div>
                </div>


            </div>
            <div class="appointments__extension">

                <div class="appointment__table">
                    <div class="appointment__table-header">

                    </div>


                    <div class="appointment__table-body">

                        <table class="appointment__table-table">
                            <thead class="appointment__head">
                                <tr>
                                    <th>Hour</th>
                                    <th>Patient</th>
                                    <th>Area</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="appointment__body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
