{% extends 'base/layout.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block head %}

    <link href="{% static 'users/styles/css/forms.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}

    {% if not request.user.is_authenticated %}
        <div class="form">
            <form class="register" action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        {{ field }}
                        <label for="{{ field.id_for_label }}" class="label-field">
                            <span class="content-label">{{ field.label }} </span>
                        </label>

                    </div>


                {% endfor %}
                <input type="submit" value="Log In">
            </form>
        </div>
    {% endif %}

{% endblock %}
