{% load static %}


<link href="{% static 'users/styles/css/profile.css' %}" rel="stylesheet">
<script src="{% static 'users/scripts/profile.js' %}"></script>


<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
            <img src="{{ profile.image }}" alt="{{ profile.str }} Picture">
        </div>
        <div class="profile-nav-info">
            <div class="user-name fas-text">
                <h3>{{ profile.title | title }}</h3>
            </div>


        </div>
        <hr>
        <div class="header-nav">

            <div class="profile-nav">
                <div class="profile-dash">
                    <div class="profile-nav-item" id="profile">
                        <span class="text">Profile</span>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="profile-nav-item" id="about">
                        <span class="text">About</span>
                        <i class="fas fa-address-card"></i>
                    </div>
                    <div class="profile-nav-item" id="ratings">
                        <span class="text">Rating</span>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="bar"></div>
            </div>
            <div class="profile-actions">
                <button type="button" name="button">
                    <span class="fas-text plus">New Appointment</span>
                </button>

                {% include 'clinics/invite.html'  with model=profile profile=tabs %}
            </div>
        </div>

    </div>

    <div class="main-body">

        <div class="right-side">
            <div class="tab">
                {% if tabs == "doctors" %}
                    {% include 'doctors/calendar.html' %}
                {% endif %}
            </div>
            <div class="about tab">
                <div class="profile-side">
                    <h1>About</h1>
                    <div class="fas-text address info">
                        {{ profile.address }}
                    </div>


                    {% for submodel in profile.info %}
                        <div class="info">
                            <a href="{{ submodel.url }}">
                                <div class="fas-text {{ profile.info_icon }}">
                                    {{submodel.title}}
                                </div>
                            </a>
                        </div>
                    {% endfor %}


                    {% for submodel1 in profile.info2 %}

                        <div class="info">

                            <a href="{{ submodel1.url }}">
                                <div class="fas-text {{ profile.info2_icon }}">
                                        {{ submodel1.title }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="user-rating info">
                        <h3 class="fas-text rating">{{ profile.rating }}</h3>
                    </div>




            </div>
            <div class="tab"></div>
        </div>

        </div>
    </div>
</div>
