{% load static %}

<script type="text/javascript" src="{% static 'users/scripts/rate.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'users/styles/css/rate.css' %}">


<div class="rate__container">
    {% csrf_token %}
    {% for appointment in request.user.appointments.all %}
        {% if object == appointment.shift.clinic or object == appointment.shift.doctor %}

                <form class="rate__form" action="{% url 'patients:rate' appointment.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.id }}" class="rate__doctor">
                    <input type="text" class="rate__title">
                    <div class="star__container">
                        <input type="checkbox" id="star1" class="star__input">
                        <label for="star1" class="star__label"></label>
                        <input type="checkbox" id="star2" class="star__input">
                        <label for="star2" class="star__label"></label>
                        <input type="checkbox" id="star3" class="star__input">
                        <label for="star3" class="star__label"></label>
                        <input type="checkbox" id="star4" class="star__input">
                        <label for="star4" class="star__label"></label>
                        <input type="checkbox" id="star5" class="star__input">
                        <label for="star5" class="star__label"></label>
                    </div>
                </form>

            {% endif %}
    {% endfor %}

</div>
