{% extends 'base/layout.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'users/styles/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/css/cropper.css' %}">
    <script type="text/javascript" src="{% static 'users/scripts/forms.js' %}"></script>
    <script type="module" src="{% static 'users/scripts/register.js' %}" defer></script>
{% endblock %}

{% block body %}

    <div id="main__div">
        <div class="button__container">
            <button type="button" name="button" data-value="1">Common user</button>
            <button type="button" name="button" data-value="2">I'm a doctor</button>
            <button type="button" name="button" data-value="3">I have a clinic</button>
            <button type="button" name="button" data-value="4">I'm a doctor and have a clinic</button>

        </div>

        <form class="register register__form" method="post" class="form__container" enctype="multipart/form-data">
            {% csrf_token %}

        </form>

    </div>

    <template id="user__form">
        {% include 'users/user.html' %}
    </template>

    <template id="doctor__form">
        {% include 'users/doctor.html' %}
    </template>

    <template id="clinic__form">
        {% include 'users/clinic.html' with form=clinic_form%}
    </template>



{% endblock %}
