

{% load static %}


    <script src="{% static 'users/scripts/register.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/styles/forms.css' %}">
    <link rel="stylesheet" href="{% static 'base/styles/checkbox.css' %}">

        <div class="not-logged">

            <div class="form" id="">
                <h1>Select your account type</h1>
                <h2>You can choose more than one.</h2>
                
                                    
                <form class="register" action="{% url 'users:register' %}" method="POST">
                {{ checkbox.types }}
                    <div class="checkbox-container">
                        {% for title, value in checkbox.checkbox.field.choices %}
                        <div class="checkbox-div">
                            <label class="checkbox-label">
                                <input type="checkbox" value="{{ value }}" class="checkbox-input" id="checkbox_{{ value }}">
                                <span class="checkbox-span">{{ title }}</span>
                            </label>
                        </div>
                        {% endfor %}
                
                    </div>
                    {% csrf_token %}
                    <div id="user-form">
                        <div class='hidden'>
                        {% for field in user_form %}
                            <div class="form-wrapper">
                                <div class="field">
                                    {{ field }}
                                    <label for="{{ field.id_for_label }}" class="label-field">
                                        <span class="content-label">{{ field.label }}</span>
                                    </label>
                                </div>
                                
                            </div>

                        {% endfor %}

                        </div>
                        
                    
                    </div>
                    <div id="clinic-form"></div>
                    <div id="doctor-form"></div>
                    <div id="patient-form"></div>
                    <button type="button" id="next">Next</button>
                
                    
                </form>
                    
                    

                    <div id="patient" class="hidden">

                        <div class="form-wrapper">
                            <div class="field">
                                {{ form.day }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.day.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.month }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.month.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.year }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.year.label }} </span>
                                </label>

                            </div>

                        </div>


                        <div class="form-wrapper">
                            <div class="field">
                                {{ form.weight }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.weight.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.height }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.height.label }} </span>
                                </label>

                            </div>


                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ form.choices_conditions }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_conditions.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ form.conditions }}

                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ form.choices_medications }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_medications.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ form.medications }}

                        </div>

                        <div class="choices">
                            <div class="field">
                                {{ form.choices_allergies }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_allergies.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            

                            </div>

                            {{ form.allergies }}

                        </div>
                        <div class="form-wrapper">
                            <div class="field">
                                {{ form.city }}
                            </div>
                            <label for="{{ form.city.id_for_label }}" class="label-field">
                                <span class="content-label">{{ form.city.label }}</span>

                            </label>
                        </div>
                    </div>
                    <div id="doctor" class="hidden">
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.degree }}
                                <label for="{{ doctor_form.degree.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.degree.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.number }}
                                <label for="{{ doctor_form.number.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.number.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ doctor_form.choices_areas }}
                                <label for="{{ doctor_form.city.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.choices_areas.label }}</span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ doctor_form.areas }}


                        </div>
                        <div class="form-wrapper">
                            {{ doctor_form.city }}
                            <label for="{{ doctor_form.city.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.city.label }}</span>
                            </label>


                            
                        </div>
                        
                    </div>

                    <div id="clinic" class="hidden">
                        {% for field in clinic_form %}
                        <div class="form-wrapper">
                            <div class="field">
                                {{ field }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ field.label }}</span>
                                </label>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
            </div>

        </div>
    