

{% load static %}


    <script src="{% static 'users/scripts/register.js' %}" type="module"></script>

    <script src="{% static 'users/scripts/cropper.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/styles/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'base/styles/css/checkbox.css' %}">

        <div class="not-logged">
            <div class="form" id="">
                <h1>Select your account type</h1>
                <h2>You can choose more than one.</h2>


                <form class="register" action="{% url 'users:register' %}" method="POST" enctype="multipart/form-data" id="signup">
                {{ checkbox.types }}
                    <div class="checkbox-container">
                        {% for title, value in checkbox.checkbox.field.choices %}
                        <div class="checkbox-div">
                            <label class="checkbox-label">
                                <input type="checkbox" value="{{ value }}" class="checkbox-input" id="checkbox_{{ value }}">
                                <span class="checkbox-span">{{ title }}</span>
                            </label>
                        </div>
                        {% endfor %}

                    </div>
                    {% csrf_token %}
                    <div id="user-form">
                        <div class='hidden user-form'>
                        {% for field in user_form %}
                            <div class="form-wrapper">
                                <div class="field">
                                    {{ field }}
                                    <label for="{{ field.id_for_label }}" class="label-field">
                                        <span class="content-label">{{ field.label }}</span>
                                    </label>
                                </div>

                            </div>

                        {% endfor %}

                        <!-- A canvas which cropper will draw on -->
                        {% include 'users/image-picker.html' with type="user" %}





                        </div>


                    </div>
                    <div id="clinic-form">

                        <div class="WAT"></div>
                    </div>

                    <div id="doctor-form"></div>
                    <div id="patient-form"></div>
                    <button type="button" id="next">Next</button>


                </form>


                    <div id="doctor" class="hidden">
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.degree }}
                                <label for="{{ doctor_form.degree.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.degree.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.number }}
                                <label for="{{ doctor_form.number.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.number.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ doctor_form.choices_areas }}
                                <label for="{{ doctor_form.city.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.choices_areas.label }}</span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ doctor_form.areas }}


                        </div>
                        <div class="form-wrapper">
                            {{ doctor_form.city }}
                            <label for="{{ doctor_form.city.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.city.label }}</span>
                            </label>



                        </div>

                    </div>

            </div>

        </div>
