{% extends 'base/layout.html' %}
{% load static %}

{% block title %} {{ type.capitalize }} {% endblock %}

{% block head %} 
    <script src="{% static 'users/register.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/style/maps.css' %}">
{% endblock %}
    

{% block body %}
    <h1 id="title">{{ type.capitalize }}</h1>
    <form action="{% url 'users:specific_register' type %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-field" id=>
                {% if not field.is_hidden %}
                    {{ field.errors }}
                    {{ field.label_tag }}

                {% endif %}
                {{ field }}
                <ul id="{{ field.id_for_label }}_ul"></ul>
            </div>
    
    
        {% endfor %}
        <input type="submit">
    </form>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2EjRXonTltky7o7sj-DtWt1uiANrV2fY"></script>
{% endblock %}