{% extends 'base/layout.html' %}
{% load static %}

{% block title %} {{ type.capitalize }} {% endblock %}

{% block head %} 
    <script src="{% static 'users/register.js' %}"></script>
    <script src="{% static 'users/locate.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">  
    <link rel="stylesheet" href="{% static 'users/style/maps.css' %}">
{% endblock %}
    

{% block body %}
    <h1 id="title">{{ type.capitalize }}</h1>
    <form action="{% url 'users:specific_register' type %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-field" id=>
                {% if not field.is_hidden %}
                    {{ field.errors }}
                    {{ field.label_tag }}

                {% endif %}
                {{ field }}
                <ul id="{{ field.id_for_label }}_ul"></ul>
            </div>
    
    
        {% endfor %}
        <input type="submit">
    </form>
    <h2>Location</h2>
     <div class="container">
    <h3>Shipping Address</h3>
    <p>You can click the button below to use your current location as your shipping address</p>
    <div id="map">
    </div>
    <button id="showMe" class="btn">Use My Location</button>
    <form id="shippingAddress">
      <div id="locationList"></div>
      <br>
      <div class="input-field">
        <textarea class="input_fields materialize-textarea" id="address" type="text"></textarea>
        <label class="active" for="address">Address (Area and Street)</label>
      </div>
      <div class="input-field">
        <input class="input_fields" id="locality" type="text">
        <label class="active" for="locality">Locality</label>
      </div>
      <div class="input-field">
        <input class="input_fields" id="city" type="text">
        <label class="active" for="city">City/District/Town</label>
      </div>
      <div class="input-field">
        <input class="input_fields" id="postal_code" type="text">
        <label class="active" for="pin_code">Pin Code</label>
      </div>
      <div class="input-field">
        <input class="input_fields" id="landmark" type="text">
        <label class="active" for="landmark">Landmark</label>
      </div>
      <div class="input-field">
        <input class="input_fields" id="state" type="text">
        <label class="active" for="State">State</label>
      </div>
    </form>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2EjRXonTltky7o7sj-DtWt1uiANrV2fY"></script>
{% endblock %}