/* ___ Dust Pallete ___ */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
/* Main Colors */
/* Base colors */
/* Success, atention and caution */
td {
  text-align: center;
  padding: 0;
  border-spacing: 0;
}

.calendar__wrapper {
  width: 100%;
  height: 100%;
}

.calendar {
  height: 100%;
  width: 100%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ball {
  clip-path: circle(20px at center);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball:hover {
  background: #A7AABD;
}

.month {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  background: white;
}

.month-title, .year-title {
  font-size: clamp(1.8rem, 2vw, 2.1rem);
}

.day {
  text-align: center;
  padding: 0;
}
.day .ball {
  background: #A7AABD;
}

.invalid {
  cursor: auto;
  color: gray;
}
.invalid .ball {
  background: #fff;
}

.active .ball {
  background: #fff;
}

.marked .ball {
  background: #424656;
  color: #f1f1f1;
}

.calendar-year, .calendar-month {
  color: #424656;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.calendar-year i, .calendar-month i {
  font-size: 2rem;
}

.day-planner {
  position: fixed;
  margin-top: 10vh;
  width: 40vw;
  height: 90vh;
  display: flex;
  top: 0;
  right: -100vw;
  transition: all 0.8s ease;
  border: 2px solid #f0f0f0;
}

.day-planner.open {
  right: 0;
  background: white;
  z-index: 99;
}
.day-planner.open .day {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 5rem;
}

.button__close {
  position: absolute;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.button__close i::before {
  font-size: 2.6rem;
}

.button__close:hover {
  background: #f0f0f0;
}

.appointment-table {
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
}

.hours, .appointments {
  padding: 0 20px;
  margin-bottom: 5rem;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appointments {
  position: relative;
}

.appointment {
  position: absolute;
  background: #4387f5;
  margin: auto;
  width: 90%;
  cursor: pointer;
  color: #fff;
  transition: all 0.1s ease-in;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.appointment:hover {
  background: #4387f5;
}

.closed {
  background: #A7AABD;
  cursor: auto;
}

.closed:hover {
  background: #A7AABD;
}

.second {
  color: #5a5a5a;
}

.schedule {
  font-size: 1.2rem;
  display: grid;
  justify-content: space-between;
  position: relative;
  padding: 10rem 3rem 3rem 3rem;
  text-align: left;
}
.schedule .schedule-info, .schedule .schedule-form, .schedule .schedule-title, .schedule .schedule-form-info {
  opacity: 0;
}

.schedule.visible .schedule-info, .schedule.visible .schedule-form, .schedule.visible .schedule-title, .schedule.visible .schedule-form-info {
  opacity: 1;
}

.schedule-title {
  font-size: 2.2rem;
}

.schedule-day {
  color: #777;
}

.schedule-hour {
  font-weight: bolder;
}

.schedule-header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  gap: 1em;
}
.schedule-header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.schedule-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.schedule-location-title {
  color: #777;
  text-decoration-style: dashed;
  font-size: 1.6rem;
  font-style: italic;
}
.schedule-location-title i::before {
  color: #777;
}

.p-wrapper {
  display: flex;
  width: 80%;
  font-size: 2rem;
  gap: 0.7rem;
}

.scheduled {
  padding: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #14cd14;
  color: #14cd14;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.first-child {
  font-weight: bolder;
}

.schedule-user-info, .schedule-area-info {
  font-style: italic;
}

.schedule-cancel {
  padding: 2rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
.schedule-cancel:hover {
  background: rgba(255, 200, 200, 0.3);
}

.chosen__appointment {
  background: blue;
}
.chosen__appointment:hover {
  background: blue;
}

.chosen {
  background: #14cd14;
  pointer-events: all;
  cursor: pointer;
}

.chosen:hover {
  background: rgba(20, 200, 20, 0.8);
}

.schedule-form-info {
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 599px) {
  .calendar-month, .calendar-year {
    width: 100%;
  }
}

/*# sourceMappingURL=calendar.css.map */
