/* Main Colors */
/* Base colors */
/* Success, atention and caution */
/* ___ Form ___ */
select {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 83%;
  height: 120%;
  position: relative;
  cursor: pointer;
}

.select-field {
  position: relative;
}

select + .label-field .content-label {
  position: absolute;
  bottom: 100%;
  left: 5%;
  padding: 0 0.5rem;
  pointer-events: none;
}

select + .label-field {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.register {
  display: flex;
  align-items: center;
  align-content: center;
}

.form {
  flex-direction: column;
  display: flex;
  margin: auto;
}

.field {
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 2rem;
  margin: 0 auto;
  color: #595f6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field input, .field textarea {
  width: 80%;
  height: 100%;
  padding: 1rem 2rem;
  color: #0a100d;
  border: 1px solid #777;
  outline: none;
  font-size: 2rem;
  background: none;
}

.field label {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  pointer-events: none;
}

.content-label {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  transition: all 0.5s ease;
  color: #777;
}

.field input:focus + .label-field .content-label, .field textarea:focus + .label-field .content-label,
.field input:focus + datalist + .label-field .content-label, input:valid + .label-field .content-label {
  bottom: 100%;
  left: -0.5rem;
  font-size: 1.6rem;
  color: black;
  z-index: 2;
  background: white;
  padding: 0 5px;
  transform: translateY(-0.25rem);
}

.valid__input .label-field .content-label {
  left: -0.5rem;
  bottom: 100%;
  font-size: 1.6rem;
  color: black;
  z-index: 2;
  background: white;
  padding: 0 5px;
  transform: translateY(-0.3rem);
}

.form-wrapper, .choices {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.equalizer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.less {
  width: 44.5%;
  margin: 0;
}

.more {
  width: 150%;
}

.hidden {
  display: none;
  opacity: 0;
}

.choices {
  flex-direction: column;
}
.choices .form-list {
  margin: auto;
  width: 80%;
  display: flex;
  padding: 2rem;
  padding-top: 4rem;
}
.choices .form-list .form-ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.choices .form-list .form-ul li {
  background: #f0f0f0;
  border-radius: 100vw;
  padding: 1.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.choices .form-list .form-ul li span {
  color: #777;
  font-size: 2rem;
  font-weight: 900;
}
.choices .form-list .form-ul li button {
  background: rgba(255, 0, 0, 0.4);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.choices .form-list .form-ul li button::before {
  color: #f0f0f0;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=forms.css.map */
