/* Variables */
$main: #370CF2;
$complementary: #F2D80C;

input 
{
    font-family: sans-serif;
    border: none;
}

.container
{
    display: flex; 
    margin: auto; 
    max-width: 1200px;
    flex-wrap: wrap;
    width: 80vw;
    flex-direction: column;
}

.checkbox-container 
{
    display: flex; 
    margin: auto; 
    max-width: 1200px;
    flex-wrap: wrap;
    width: 80vw;

}
.checkbox-div
{
    margin: 10px; 
}

.checkbox-label
{
    cursor: pointer;
    }

.checkbox-span 
{
    position: relative; 
    display: inherit-block;
    background: #e1e1e1;
    padding: 10px 30px;
    color: #a1a1a1;
    border-radius: 30px;
    transition: 0.5s; 
    -webkit-user-select: none;
    
}
.checkbox-input
{
    display: none;
}
.checkbox-input:checked ~ span 
{
    background: $main;
    color: white;
    
}

#next 
{
    border: 1px solid $main; 
    color: $main;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
}


.time::-webkit-calendar-picker-indicator {
  background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%; 
        
}
.time 
{
    overflow: hidden; 
    position: relative;
}


.form-wrapper 
{
    display: flex; 
}

#form-container
{
    display: none; 
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;

}

.form-wrapper
{
    display: flex; 
    margin: 2rem 0; 

}
.field 
{
    display: flex;
}
.field input 
{

}

.day-container
{
    position: relative; 
    max-width: 90vw; 
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.day-card 
{
    position: relative; 
    width: 300px; 
    height: 420px; 
    background: #fff; 
    margin: 20px; 
    border-radius: 20px; 
    overflow:hidden; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s; 
    
}

.day-circle 
{
    position: relative; 
    width: 100%; 
    height: 100%; 
    background: $complementary; 
    clip-path: circle(180px at center 0); 
    padding: 50px 0; 
}
.day-title 
{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;  
}
.day-content 
{
    position: absolute; 
    bottom: 10px; 
    color: #666;
    padding: 1rem;
}
.day-container:hover .day-card
{
    filter: blur(20px); 
    transform: scale(0.9); 
    opacity: 0.5; 
}
.day-container .day-card:hover 
{
    filter: blur(0px); 
    transform: scale(1.1); 
    opacity: 1;
}