{% extends 'base/layout.html' %}
{% load static %}

{% block title %} Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }} {% endblock %}

{% block head %}
    <script src="{% static 'clinics/scripts/invite.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h1>

    {% if request.user.is_clinic %}
        {% if request.user.clinic.name in doctor.user.notification_origins %}

            <button id="invite" data-val="deny" data-url="{% url 'doctors:invite' doctor.user.name %}">Cancel Invitation</button>
        {% else %}
            <button id="invite" data-val="accept" data-url="{% url 'doctors:invite' doctor.user.name %}">Invite</button>

        {% endif %}
    {% endif %}
    

    <table>
        
        {% for key, value in data.items %}
            <tr>
                <td>
                    {{ key.capitalize }}
                </td>
                <td>
                    {{ value.capitalize }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}