{% extends 'base/layout.html' %}
{% load static %}


{% block title %} New Schedule {% endblock %}
{% block head %}
    <link href="{% static 'doctors/styles/css/schedule.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="schedule__all">
        <div class="schedule__header">
            <h1>My Schedule</h1>
        </div>
        <div class="schedule__body">
            {% include 'doctors/snippets/schedule.html' %}

        </div>


    </div>

    <div class="schedule__new">

        <h1>New Schedule</h1>
        {% if request.user.id == doctor.user.id %}
            {% include 'doctors/schedule_form.html' %}
        {% endif %}
    </div>
{% endblock %}
