{% load static %}

<div class="container">
    <form method="POST" action="{% url 'doctors:schedule' request.user.name %}">
        {% csrf_token %}
        <div class="checkbox-container" id="days-checkbox">
            <input list="days-list" name="days" id="days">

            {% for value, title in form.days.field.choices %}
                <div class="checkbox-div">
                    <label class="checkbox-label">
                        <input type="checkbox" value="{{ title }}" class="checkbox-input day-checkbox-input" id="checkbox_{{ title }}">
                        <span class="checkbox-span">{{ title }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button id="next" type="button"><i class="fas fa-chevron-right"></i></button>
        <div id="container"></div>
        <input type="submit">

    </form>
    {% include 'doctors/snippets/shift.html' with form=form %}


</div>
