{% load static %}

<div class="container">
    <script src="{% static 'doctors/scripts/schedule.js' %}"></script>
    <form method="POST">
        <div class="day-container">
            {% for value, title in form.days.field.choices %}
                <div class="day-div">
                    <label class="day-label">
                        <input type="checkbox" value="{{ value }}" class="day-input">
                        <span class="day-span">{{ title }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button id="next"><i class="fas fa-chevron-right"></i></button>
        <div class="container"></div>

            </form>
    
    <div id="form-container">
    
        <h1 class="form-title"></h1>

            <div class="form-wrapper">
                <div class="field">
                    <label for="{{ form.start.id_for_label }}" class="label-field">
                        <span>{{ form.start.label }}</span>
                    </label>
                    {{ form.start }}
                    
                    
                </div>
                <div class="field">
                    <label for="{{ form.end.id_for_label }}" class="label-field">
                        <span>{{ form.end.label }}</span>
                    </label>
                    {{ form.end }}
                    
                </div>
            </div>
            
            
    </div>
    <input type="date" class="time">
    




</div>