{% load static %}


<link href="{% static 'base/styles/card.css' %}" rel="stylesheet">

 <div class="container">
        {% for card in cards %}
            
            <div class="card">
                <div class="front">
                    <img src="{{ card.image }}" alt="{{ card.title }}" class="main-image">
                    <h3 class="name">{{ card.title | title }}</h3>
                    <div class="stats">
                        <p class="text">{{ card.status }}</p>
                        <div class="submodels">
                            {% for submodel in card.submodels %}
                                <img src="{{ submodel.image }}" alt="">
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                <div class="back">
                    <div class="info">

                        <p class="fas-icon star stat">
                            <span>{{ card.rating }}</span>
                        </p>

                    </div>
                    <a href="{{ card.url }}">

                        <button  class="btn">See profile</button>
                    </a>
                    <div class="submodels">
                        {% for submodel in card.submodels %}

                            <div class="submodel">
                                <a href="{{ submodel.url }}">
                                <div class="image-icon">
                                    <img src="{{ submodel.image}}">
                                </div>
 

                                </a>
                              


                                <p class="name">{{ submodel.title | title }}</p>
                                <p class="specification">{{ submodels.info }}</p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                
                <div class="background">
                </div>
            </div>
        {% endfor %}

    </div>


