{% load static %}


<link href="{% static 'base/styles/card.css' %}" rel="stylesheet">

 <div class="container">
        {% for card in cards %}
            <div class="card">
                <div class="front">
                    <img src="{{ card.image }}" alt="{{ card.str }}" class="main-image">
                    <h3 class="name">{{ card.title }}</h3>
                    <div class="stats">
                        <p class="text">{{ card.info }}</p>
                        <div class="submodels">
                            {% for submodel in card.submodels %}
                                <img src="{{ submodel.image }}" alt="">
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                <div class="back">
                    <div class="info">
                        <div class="stars">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p class="stat">
                            <span>{{ card.info2 }}</span>
                        </p>

                    </div>
                    <button  class="btn">See profile</button>
                    <div class="submodels">
                        {% for submodel in card.submodels %}

                            <div class="submodel">
                                <div class="image-icon">
                                    <img src="{{ submodel.image}}">
                                </div>
                                
                                <p class="name">{{ submodel.str }}</p>
                                <p class="specification">{{ submodels.info }}</p>
                            </div>

                        {% endfor %}
                    </div>

                </div>
                
                <div class="background">
                </div>
            </div>
        {% endfor %}

    </div>


