{% extends 'users/signup.html' %}
{% load static %}
{% block extended_head %}

    <link rel="stylesheet" href="{% static 'base/styles/index.css' %}">

{% endblock %}


{% block extended_body %}
    <div class="clinic-container">

    {% for clinic in clinics %}
        <div class="clinic-card">
            <a href="{% url 'clinics:profile' clinic.clinic_name %}">
                <h1>{{ clinic.name }}</h1>
            </a>
            <h2>{{ clinic.city }}</h2>
        </div>

    {% endfor %}


    </div>
    
{% endblock %}