{% extends 'base/layout.html' %}
{% load static %}

{% block title %} Bracket {% endblock %} 
{% block head %}
    <link href="{% static 'base/style/index.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Hello, {{ request.user.first_name }}</h1>
    {% endif %}

    <div class="clinic-container">

    {% for clinic in clinics %}
        <div class="clinic-card">
            <a href="{% url 'clinics:profile' clinic.clinic_name %}">
                <h1>{{ clinic.name }}</h1>
            </a>
            <h2>{{ clinic.city }}</h2>
        </div>

    {% endfor %}


    </div>
    
{% endblock %}