{% extends 'base/layout.html' %}
{% load static %}

{% block title %} Bracket {% endblock %} 
{% block head %}
    <link href="{% static 'base/styles/index.css' %}" rel="stylesheet">
    <link href="{% static 'users/styles/forms.css' %}" rel="stylesheet">
    <script src="{% static 'users/scripts/register.js' %}"></script>
    
{% endblock %}


{% block body %}

    {% if not request.user.is_authenticated %}
        <div class="not-logged">

            <div class="form" id="">
                <h1>New account for</h1>
                <select id="type">
                    <option value="{% url 'users:patient' %}">patient</option>
                    <option value="{% url 'users:doctor' %}">doctor</option>
                </select>
                
                <form class="register" action="{% url 'users:patient' %}" method="POST">
                    {% csrf_token %}
                    
                    <div id="base-form">

                        <div class="form-wrapper">
                            <div class="base field">
                                {{ base_form.email }}

                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ base_form.email.label }} </span>
                                </label>

                            </div>

                        </div>
                        <div class="form-wrapper">
                            <div class="base field">
                                {{ base_form.first_name }}

                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ base_form.first_name.label }} </span>
                                </label>

                            </div>
                            <div class="base field">
                                {{ base_form.last_name }}

                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ base_form.last_name.label }} </span>
                                </label>

                            </div>

                        </div>
                        <div class="form-wrapper">
                            <div class="base field">
                                {{ base_form.password }}

                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ base_form.password.label }} </span>
                                </label>

                            </div>
                            <div class="base field">
                                {{ base_form.password_confirmation }}

                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ base_form.password_confirmation.label }} </span>
                                </label>

                            </div>

                        </div>
                    </div>
                    
                    <button id="next-btn">Next</button>
                    <div id="next"></div>
                    <input type="submit" value="Sign Up">

                </form>

                    <div id="patient">

                        <div class="form-wrapper">
                            <div class="field">
                                {{ form.day }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.day.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.month }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.month.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.year }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.year.label }} </span>
                                </label>

                            </div>

                        </div>


                        <div class="form-wrapper">
                            <div class="field">
                                {{ form.weight }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.weight.label }} </span>
                                </label>

                            </div>
                            <div class="field">
                                {{ form.height }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.height.label }} </span>
                                </label>

                            </div>


                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ form.choices_conditions }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_conditions.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ form.conditions }}

                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ form.choices_medications }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_medications.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ form.medications }}

                        </div>

                        <div class="choices">
                            <div class="field">
                                {{ form.choices_allergies }}
                                <label for="{{ field.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ form.choices_allergies.label }} </span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            

                            </div>

                            {{ form.allergies }}

                        </div>
                    </div>
                    <div id="doctor">
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.degree }}
                                <label for="{{ doctor_form.degree.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.degree.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="form-wrapper">
                            <div class="field">
                                {{ doctor_form.number }}
                                <label for="{{ doctor_form.number.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.number.label }}</span>
                                </label>

                            </div>


                        </div>
                        <div class="choices">
                            <div class="field">
                                {{ doctor_form.choices_areas }}
                                <label for="{{ doctor_form.number.id_for_label }}" class="label-field">
                                    <span class="content-label">{{ doctor_form.choices_areas.label }}</span>
                                </label>

                            </div>
                            <div class="form-list">
                                <ul class="form-ul"></ul>
                            </div>
                            {{ doctor_form.areas }}


                        </div>
                        
                        
                        

                        
                        
                    </div>
            </div>

        </div>
    {% endif %}
    <div class="clinic-container">

    {% for clinic in clinics %}
        <div class="clinic-card">
            <a href="{% url 'clinics:profile' clinic.clinic_name %}">
                <h1>{{ clinic.name }}</h1>
            </a>
            <h2>{{ clinic.city }}</h2>
        </div>

    {% endfor %}


    </div>
    
{% endblock %}