{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script src="https://kit.fontawesome.com/f0d3ee0f06.js" crossorigin="anonymous"></script>
    <script src="{% static 'base/script/main.js' %}"></script>
    <link href="{% static 'base/style/main.css' %}" rel="stylesheet">


</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <!-- Index -->
            <li class="nav-item">
                <a href="{% url 'base:index' %}" class="nav-link">Final Project</a>
            </li>

            {% if not request.user.is_authenticated %}

            <!-- Login -->
            <li class="nav-item">
                <a href="{% url 'users:login' %}" class="nav-link">Login</a>
            </li>

            <!-- Register -->
            <li class="nav-item">
                <a href="{% url 'users:register' %}" class="nav-link">Register</a>
            </li>

            {% else %}

            <!-- Clinic Profiles -->

            {% if request.user.is_clinic %}
                {% for clinic in request.user.clinics.all %}
                    <li class="nav-item">
                        <a href="{% url 'clinics:profile' clinic.clinic_name %}">{{ clinic.name }}</a>
                    
                    </li>
                {% endfor %}
            {% endif %}
            <!-- Doctors Profile Page-->
                
            {% if request.user.is_doctor %}
            <li class="nav-item">
                <a href="{% url 'doctors:profile' request.user.name %}" class="nav-link">Doctor profile</a>

            </li>
            {% endif %}

            <!-- User page -->
            {% if request.user.is_patient %}
                <li class="nav-item">
                    <a href="{% url 'patients:profile' request.user.name %}"><i class="fas fa-clipboard-list"></i></a>
                </li>
            {% endif %}

            <!-- Notifications -->
            <li class="nav-item">
                <div class="icon">
                    <i class="fas fa-bell" id="bell">
                        {% if request.user.notifications.all %}
                            
                            <span class="notifi-number"></span>
                        {% endif %}
                    </i>

                    
                </div>
                <div class="notifi-box" id="box">
                    <h2 class="notifi-t">Notifications</h2>
                    {% for notification in request.user.sorted_notifications %}
                    <div class="notifi-item">
                        <div class="text">
                            <h4 class="notifi-title">{{ notification.origin.first_name }} {{ notification.origin.last_name }}</h4>
                            <p class="notifi-text">{{ notification.text }}</p>
                            <p class="notifi-timestamp">{{ notification.time }}</p>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </li>
                        
            <!-- Logout -->
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
            </li>

            {% endif %}

        </ul>
        
    </nav>

    <!-- Body -->
    <main>
        {% block body %}
        {% endblock %}
    </main>

    
</body>
</html>