{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script src="https://kit.fontawesome.com/f0d3ee0f06.js" crossorigin="anonymous"></script>
    <script src="{% static 'base/script/main.js' %}"></script>
    <link href="{% static 'base/style/main.css' %}" rel="stylesheet">


</head>
<body>

    <!-- Navbar -->
    
    <nav class="navbar" id="menu">
        <ul class="navbar-nav" id="logo">
            <li class="nav-item">
                <a href="{% url 'base:index' %}" class="nav-link">Final Project</a>

            </li>
            
        </ul>

        <ul class="navbar-nav" id="search">

        </ul>

        <ul class="navbar-nav double">

            {% if not request.user.is_authenticated %}


            <!-- Login -->
            <li class="nav-item" id="sign-in">
                <a href="{% url 'users:login' %}" class="nav-link">Log In</a>
            </li>
        
            <!-- Register -->
            <li class="nav-item" id="sign-up">
                <a href="{% url 'users:register' %}" class="nav-link">Sign Up</a>
            </li>

            {% else %}

            <!-- Clinic Profiles -->

            {% if request.user.is_clinic %}
                {% for clinic in request.user.clinics.all %}
                    <li class="nav-item">
                        <a href="{% url 'clinics:profile' clinic.clinic_name %}">{{ clinic.name }}</a>
                    
                    </li>
                {% endfor %}
            {% endif %}
            <!-- Doctors Profile Page-->
                
            {% if request.user.is_doctor %}
            <li class="nav-item">
                <a href="{% url 'doctors:profile' request.user.name %}" class="nav-link">Doctor profile</a>

            </li>
            {% endif %}

            <!-- User page -->

            <!-- Notifications -->
            <li class="drop nav-item">
                <div class="drop icon">
                    <i class="drop fas fa-bell" id="bell">
                        {% if request.user.notifications.all %}
                            <span class="notifi-number"></span>
                        {% endif %}
                    </i>

                    
                </div>
                <div class="drop dropdown" id="box">
                    <h2 class="drop drop-t">Notifications</h2>
                    {% for notification in request.user.sorted_notifications %}
                        <div class="drop drop-item">
                            <div class="drop text">
                                <h4 class="drop drop-title">{{ notification.origin.first_name }} {{ notification.origin.last_name }}</h4>
                                <p class="drop drop-text">{{ notification.text }}</p>
                                <p class="drop drop-timestamp">{{ notification.time }}</p>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </li>
                        
            <li class="drop nav-item">
                <div class="drop icon">
                    <i class="drop fas fa-user"></i>
                </div>

                <div class="drop dropdown">
                    <h2 class="drop drop-t">Signed in as <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></h2>
                    
                    <!-- Medical Info -->
                    <div class="drop drop-item">
                        <div class="drop text">
                            <a class="drop drop-link" href="{% url 'patients:profile' request.user.name %}">
                                <i class="drop fas fa-clipboard"></i>
                                <p class="drop drop-text">Medical Info</p>

                            </a>
                            
                        </div>
                    </div>

                    

                    <!-- Logout -->
                    <div class="drop drop-item">
                        <div class="drop text">
                            <a class="drop drop-link" href="{% url 'users:logout' %}">
                                <i class="drop fas fa-sign-out-alt"></i>
                                <p class="drop drop-text">Logout</p>
                            </a>
                        </div>
                    </div>



                    
                </div>

            </li>

            {% endif %}

        </ul>
        
    </nav>

    <nav class="navbar" id="sidebar">

        <ul class="navbar-nav" id="sidebar-list">
            <li class="nav-item"><i class="fas fa-notes-medical"></i></li>
            <li class="nav-item"><i class="fas fa-stethoscope"></i></li>
            <li class="nav-item"><i class="fas fa-hospital-user"></i></li>
            
        </ul>

    </nav>

    <!-- Body -->
    <main id="main">
        {% block body %}
        {% endblock %}
    </main>

    
</body>
</html>