{% load static %}

<link rel="stylesheet" href="{% static 'base/styles/css/sidebar.css' %}">
<script src="{% static 'base/scripts/sidebar.js' %}"></script>
<nav id="sidebar__menu">

    <button type="button" name="button" id="sidebar__button">
        <span id="sidebar__button-content" class="sidebar__btn"></span>
    </button>
</nav>
<nav class="navbar" id="sidebar">
    <div id="sidebar-list">
        <div class="navbar-item">
            <div class="nav-content">
                <ul class="nav-list">
                    <li class="nav-li">
                        <a href="{% url 'base:index' %}">
                            <i class="fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-li">
                        <a href="{% url 'doctors:index' %}">
                            <i class="fas fa-user-md"></i>
                            <p>Doctors</p>
                        </a>
                    </li>
                    <li class="nav-li">
                        <a href="{% url 'clinics:index' %}">
                            <i class="fas fa-hospital"></i>
                            <p>Clinics</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


        {% if request.user.is_authenticated %}
        {% if request.user.doctor.clinics.all|length > 0 or request.user.user_clinics.all|length > 0 %}

        <div class="navbar-item">
            <button class="navbar-button active" type="button">Clinics</button>
            <div class="nav-content open">
                <ul class="nav-list">
                    {% with request.user.serialize as model %}

                        {% for clinic in model.clinics %}
                            <li class="nav-li">
                                    <a href="{{ clinic.url }}">
                                        <div class="nav-image-cropper">
                                            <img class="nav-image" src="{{ clinic.image }}" alt="{{ clinic.title }} Image">
                                        </div>
                                        <span>{{ clinic.title|truncatechars:10 }}</span>
                                    </a>
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>
            </div>

        </div>
        {% endif %}
        {% endif %}
        <div class="navbar-item">
            <div class="nav-content">
                <ul class="nav-list">
                    <li class="nav-li">
                        <a href="{% url 'base:area' 'neurosurgery' %}">
                            <i class="fas fa-"></i>
                        </a>
                    </li>


                </ul>
            </div>

        </div>


    </div>



</nav>
