{% extends 'base/layout.html' %}
{% load static %}
{% block title %} {{ patient.user.first_name }} {{ patient.user.last_name }} {% endblock %}

{% block body %}
    <h1>{{ patient.user.first_name }} {{ patient.user.last_name }}</h1>
    <table>
        <tr>
            <th>Stat</th>
            <th>Value</th>
        </tr>

        {% for key, value in data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}
